node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/chunk-3NMN3MUW.js
node_modules/.vite/deps/chunk-IDMHQ7FM.js.map
node_modules/.vite/deps/vue-router.js
node_modules/.vite/deps/vue-router.js.map
node_modules/.vite/deps/vue.js
